.white {
  background: #fff;
  color: #000;
  text-shadow: none;
}

.white a {
  color: #000 !important;
  text-shadow: none !important;
}

.white .active > a {
  border-bottom-color: #000 !important;
}

body {background-color: lightgreen;}

#img-container img{
   height: 200px;
   width: auto;
   padding: 10px;
}